body {
    margin: 0;
    font-family: 'Nunito Sans';
    font-size: 11px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body section {
    width: 100%;
}
body > section > div {
    max-width: 1440px;
    margin: 0 100px;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
input[type="text"] {
    padding: 8px 0;
    border: 0;
    border-bottom: 1px solid #959595;
    width: 100%;
}
input.white {
    background-color: white;
    color: black;
}
input.white::placeholder {
    color: black;
}
input.black {
    background-color: black;
    color: white;
}
input.black::placeholder {
    color: white;
}
.background {
    background-color: white;
}
.background.black {
    background-color: black;
}
input {
    border: 0;
    border-bottom: 1px solid;
}